<main>
    <%= erb :_main_home %>
    <%= erb :_main_paintings %>
    <%= erb :_main_drawings %>
    <%= erb :_main_photographs %>
    <%= erb :_main_archive %>
    <%= erb :_main_writings %>
    <%= erb :_main_about %>
    <%= erb :_main_contact %>
</main>