<!DOCTYPE html>
<html lang="en">

<%= erb :_head %>

<body>
    <%= erb :_header %>
    <%= erb :_mobile_menu %>
    <%= erb :_main %>
    <%= erb :_footer %>
    <%= erb :_lightbox %>
</body>

</html>